.music-page-content {
  margin-top: 10% !important;
  font-size: 2rem;
  text-align: center;
}

.home-button {
  text-align: left;
}

.song-list {
  text-align: left;
  background-color: inherit !important;
}