.display-list {
  text-align: left;
  background-color: inherit !important;
  font-size: 1rem !important;
  color: rgba(0,0,0,.87);
  margin-top: 1% !important;
}

.no-data {
  color: red !important;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
